.profile img{
    width: 150px;
    border-radius: 50%;
}
.repo{
    background-color: teal;
    color: red;
}
.followers p{
    background-color: white;
    border: none;
    padding: 0.7rem;
    border-radius: 3px;
}
.repo-info{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.name{
    border: 1px solid red;
    background-color: white;
    
}